@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<script>
    $(document).ready(
    function () {
        $('#navigation a').hover(
            function () {
                var linkIndex = $(this).attr("data-filename");
                $(this).addClass('hover');
                $('.box img').attr('src', linkIndex);
            }),
            $('#navigation a').click(
                function () {
                    var linkIndex = $(this).attr("data-filename");
                    $(this).addClass('hover');
                    $('.box img').attr('src', linkIndex);
                    $(".box p").text("You have selected" + $(this).text());
                }
            )
	});

</script>

<div class="form">

    <div id="row">
        <center>
            <h1 class="text-center">Good Morning!</h1>
            <div id="clock">
                <p class="unit" id="hours"></p>:
                <p class="unit" id="minutes"></p>:
                <p class="unit" id="seconds"></p>
                <p class="unit" id="ampm"></p>
                <script src="~/Scripts/clock.js"></script>
            </div>
        </center>
    </div>
    <div class="row">
        <div class="col-md-6">

            <p class="text-white">Select your profile to login</p>
            <div id="listusers">
                <div id="navigation">

                    @{
                        // Logged Out first
                        foreach (var item in Model.StudentList)
                        {
                            if (item.Status == _5051.Models.StudentStatusEnum.Out)
                            {
                                
                                    <a id="@item.Name" href="~/Kiosk/SetLogIn/@item.Id" data-filename="/Content/img/@item.AvatarUri">
                                        <img id="avatar-red" src="~/Content/img/@item.AvatarUri" width="25" height="25" />
                                        <!--<i class="glyphicon glyphicon-user"></i>-->  @item.Name
                                    </a>
                                
                            }
                        }
                    }
                </div>
            </div>
</div>
        <div class="col-md-6">
            <div class="box">
                <center>
                    <img id="avatar" src="~/Content/img/defaultavatarX.png" width="200" height="200" />
                    <p></p>
                </center>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-left">
            @Html.ActionLink("New profile", "NewProfile", "Kiosk", null, new { @class = "button button-block" })
        </div>
        <div class="col-md-6">
            <div class="submitLink text-center">
                <a href="#" data-toggle="modal" data-target="#loginModal" class="button">Clock in</a>
                <a href="#" data-toggle="modal" data-target="#logoutModal" class="button">Clock Out</a>
            </div>
        </div>
    </div>


    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Clock in</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Clock In Successfully! <br>
                    You have earned 100 points from clocking in today!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Clock out</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    Clock Out Successfully! <br>
                    You have earned 100 points from clocking out today!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <hr />
    <div class="row"></div>


    @{
        if (Model.StudentList == null || !Model.StudentList.Any())
        {
            <br />
            <p>No Students in the System</p>
            <br />
        }
        else
        {
            // List out the Logged IN Students, then the Logged Out students

            <div class="row">
                <p class="text-white">List of students Logged In</p>

                @{
                    // Logged IN first
                    foreach (var item in Model.StudentList)
                    {
                        if (item.Status == _5051.Models.StudentStatusEnum.In)
                        {
                            <div class="col-sm-2">
                                <a id="@item.Id" href="~/Kiosk/SetLogOut/@item.Id">
                                    <div class="col-sm-1">
                                        <p class="text-center">
                                            <img id="avatar-green" src="~/Content/img/@item.AvatarUri" width="75" height="75" />
                                            <br />
                                            @item.Name
                                        </p>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                }
            </div>

            <br />
            <br />
            <br />
            <div class="row">


            </div>
        }
    }

</div>



