
@{
    ViewBag.Title = "Marketplace";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<script>
    $(document).ready(
    function () {
        $('#studentnavicons a').hover(
            function () {
                $("#studentnaviconstext p").text($(this).attr("title"));
            }
	});
</script>

<script type="text/javascript">
    function changePic() {
        var checkbox = document.getElementById("wireframe-student");
        checkbox.src = "@Url.Content("~/Content/img/Student Market/Market_demo2.png")";
        var img =  "@Url.Content("~/Content/img/Student Market/Market_demo3.png")";
        var img1 = "@Url.Content("~/Content/img/Student Market/Market_demo4.png")";
        var img2 = "@Url.Content("~/Content/img/Student Market/Market_demo5.png")";
        var img3 = "@Url.Content("~/Content/img/Student Market/Market_demo5.png")";
        if (checkbox.src == img) {
            checkbox.src = "@Url.Content("~/Content/img/Student Market/Market_demo2.png")";
        } else if (checkbox.src == img1) {
            checkbox.src = "@Url.Content("~/Content/img/Student Market/Market_demo3.png")";
        } else if (checkbox.src == img2) {
            checkbox.src = "@Url.Content("~/Content/img/Student Market/Market_demo4.png")";
        } else {
            checkbox.src = "@Url.Content("~/Content/img/Student Market/Market_demo5.png")";
        }

</script>

<div class="background">
    <div class="row text-center">
        <h1 class="student-header" align="center">Marketplace</h1>
            <div id="studentnavicons">
                <a href="~/Student/Default" title="Store"><i class="fas fa-store-alt" style="color:#7a553b"></i></a>
                <a href="~/Student/Community" title="Community"><i class="fas fa-map-signs" style="color:#7a553b"></i></a>
                <a href="~/Student/Market" title="Marketplace"><i class="fas fa-shopping-cart" style="color:#7a553b"></i></a>
                <a href="~/Student/Accomplishments" title="Yep, I did this"><i class="fas fa-trophy" style="color:#7a553b"></i></a>
                <a href="~/Student/Avatar" title="Avatar"><i class="fas fa-user" style="color:#7a553b"></i></a>
                <a href="~/Portal/Logout" title="Logout"><i class="fas fa-sign-out-alt" style="color:#7a553b"></i></a>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
                <div class="boxed" align="center">
                    <font size="10">Points: 150</font>
                </div>
            <a href="#" onclick="changePic()">
                <img id="wireframe-student" src="~/Content/img/Student Market/market_mockup2.png" width="1000" class="img-responsive" />
            </a>

                <div class="col-md-4">

                    <div style="float: right; margin-top:-70px;" align="center">
                        @Html.ActionLink("Sell", "MarketAfter", "Student", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="float:right; margin-top:-70px;" align="center">
                        @Html.ActionLink("Buy", "MarketAfter", "Student", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
    </div>
</div>










